{
	'parser': 'babel-eslint',
	'env': {
		'browser': true,
		'es6': true,
		'jquery': true,
		'node': true,
	},
	'settings': {
		'ecmascript': 6,
		'jsx': true,
	},
	'extends': 'google',
	'plugins': [
		'react',
	],
	'rules': {
		'camelcase': 0,
		'indent': ['error', 'tab'],
		'no-tabs': 0,
		'no-underscore-dangle': 0,
		'require-jsdoc', 0,
		// 'no-unused-vars': ['error', { "vars": "local" }],
		'no-unused-vars': 0,
		'no-console': 0,
		'no-sparse-arrays': 'error',
		'quotes': 0,
		'strict': 0,
		'no-trailing-spaces': 'error',
		'space-infix-ops': ['error', {'int32Hint': false}],
		'space-unary-ops': 'error',
		'spaced-comment': ['error', 'always'],
		'arrow-spacing': 'error',
		'eol-last': 'error',
	}
}
