[user]
	email = zhengkai@gmail.com
	name = Zheng Kai

[alias]
	st = status -s -u
	co = checkout
	df = diff --no-ext-diff
	dl = diff --no-ext-diff HEAD~1 HEAD
	ci = commit
	br = branch
	po = push origin
	ps = push
	pl = pull
	l  = log --pretty=oneline -n 12 --graph --abbrev-commit --decorate
	ll = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	pa = "!f() { git pull \"$@\" && git submodule update --init --recursive; }; f"

[color]
	ui = true

[push]
	default = upstream

[pull]
	rebase = true

[diff]
    # external = ~/conf/script/git_diff_vim.sh
	algorithm = patience

[pager]
	diff =

[apply]
	whitespace = nowarn

[tig]
	tab-size = 4

[merge]
	tool = vimdiff

[color "status"]
	added = bold 121
	changed = bold 222
	untracked = bold 141

[core]
	safecrlf = true
	attributesfile = ~/.gitattributes

[http]
#	proxy = socks5://127.0.0.1:55777
#	proxy = http://localhost:8118
