[user]
	email = zhengkai@gmail.com
	name = Zheng Kai

[alias]
	st = status -s -u
	co = checkout
	ci = commit
	br = branch
	po = push origin
	ps = push
	pl = pull

[color]
	ui = true
	diff-add = red

[diff]
    external = ~/conf/script/git_diff_vim.sh

[pager]
	diff =

[tig]
	tab-size = 4


