Host *
	ServerAliveCountMax 3
	ServerAliveInterval 30
	ExitOnForwardFailure yes
	Compression yes
	CompressionLevel 9

Host github.com
	PasswordAuthentication no
	IdentityFile ~/.ssh/key/garona/key

Host git
	user git
	PasswordAuthentication no
	hostname localhost

Host monk
	IdentityFile ~/.ssh/key/garona/key
	StrictHostKeyChecking no
	PasswordAuthentication no
	hostname soulogic.3322.org

